@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
 
#hero-box img {
    width: 100%;
} 

a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-msg h1 {
    font-family: 'Bebas Neue', monospace;
    color: #edae49;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #edae49;
}

body {
    background-color: #eeffdb;
}

header {
    background-color:#edae49;
    color: #706C61;
}
nav a {
    color: #706C61;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #706C61;
    color: #3FA7D6;
}

.home-title {
    color: #706C61;
    font-size: 2em;
}

h4 {
    color: #706C61;
}

.book, .join {
    color: #706C61;
    background-color: #edae49;
    font-size: 18px;
}

.book:hover, .join:hover {
    color: #3FA7D6;
    background-color: #706C61;
}

.msg{
    background-color: #706C61;
}
.msg h2 {
    color: #edae49;
}

.msg p {
    color: #eeffdb;
    font-size: .8em;
}

footer{
    background-color: #edae49 ;
    color: #706C61
}

footer a {
    color:#706C61 ;
}

footer a:hover {
    color: #3FA7D6 ;
}

footer p {
    font-size: 1.2em;
}

.icon {
    width: 80px;
}


p, h2 {
    font-family: 'Roboto Slab', serif;
}
